<div fxLayout="column" fxLayoutAlign="center center" >
    <mat-card style="width: 400px;margin-top: 180px !important;">
        <div fxLayout="column" fxLayoutAlign="space-around center" *ngIf = "!signUpPage">
            <mat-card-title style="margin-top: 32px !important;margin-bottom: 32px !important;font-weight: 700;">Login
            </mat-card-title>
            <form [formGroup]="profileForm" class="example-form">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Email</mat-label>
                  <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
                  <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                  </mat-error> -->
                  <!-- <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                  </mat-error> -->
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password" placeholder="">
                    <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                      Please enter a valid email address
                    </mat-error> -->
                    <!-- <mat-error *ngIf="emailFormControl.hasError('required')">
                      Email is <strong>required</strong>
                    </mat-error> -->
                  </mat-form-field>
              </form>
        </div>

        <div fxLayout="column" fxLayoutAlign="space-around center" *ngIf = "signUpPage">
          <mat-card-title style="margin-top: 32px !important;margin-bottom: 32px !important;font-weight: 700;">SignUp
          </mat-card-title>
          <form [formGroup]="profileForm" class="example-form">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Password</mat-label>
                  <input type="password" matInput formControlName="password" placeholder="">
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Series</mat-label>
                  <input type="text" matInput formControlName="series" placeholder="">
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Roll</mat-label>
                  <input type="text" matInput formControlName="roll" placeholder="">
                </mat-form-field>
            </form>
      </div>
       
        <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="8px">
            <button mat-raised-button (click) ="signIn()" color="primary" *ngIf = "!signUpPage">Login</button>
            <button mat-raised-button (click) ="signUp()" color="primary" *ngIf = "signUpPage">Sign Up</button>
            <button mat-raised-button (click) ="opneSignUpPage()" color="primary" *ngIf = "!signUpPage">No account Yet?</button>
            
          </div>
      </mat-card>
</div>

